@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');




body {
  margin: 0;
  font-family: "Lora", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgba(5, 5, 20, 0.95), rgba(5, 5, 20, 0.95));
}